---
layout: default
title: Home | Object Oriented Analys and Design
weight: 0
---

<section class="main-container page-head">
	<div class="main">
		<h1 class="head-title">Object Oriented Analys and Design</h1>
		<p class="head-subtitle"><i>M. Afzal Bhatti</i></p>
	</div>
</section>
<section class="main-container text">
	<div class="main">
		<hr>
		<h3 class="title">Objectives</h3>
		<p>
			The aim of lecture topics of this course is to introduce how to do Analysis and Design  of a sofwtare system using Object Oreinted approach.
			During the course students will learn differnt activities being performed and outcome of the activities being presented using UML diagrams. 
			Lectures will illustrate how to create UML diagrams through simple examples and case studies.
			
		</p>
		<hr>
		<p class="center">
			[<a href="#lectures">Lectures</a>]&nbsp;&nbsp;[<a href="#notes">Lecture Notes</a>]&nbsp;&nbsp;[<a href="#exercises">Exercises</a>]
		<hr>
		<p>
			BS level course: topical lectures (video Urdu/Englsih), exercises(English) and lecture notes(Englih). Better to first read notes of a lecture and then view lecture.
		</p>
		<hr>
		<p><span style="background-color: #ffd700">Have already taken OO Analysis and Design course ? </span> </p>
		<p>&nbsp;&nbsp;You may like to refresh concepts of a specific topic of OO Analysis and Designcourse:</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try to solve questions in Exercises of a specific lecture topic, if done easily, Good skip lecture topic.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise read lecture notes, or view lecture of the topic.</p>
		</p>
		<hr>
		<h3 class="title" id="lectures">Lectures</h3>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.video %} 
			<li><a href="{{lecture.video}}" target="youtube">{{lecture.topic}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<hr>
		<h3 class="title" id="notes">Lecture Notes</h3>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.notes %} 
			<li><a href="files/{{lecture.notes}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<hr>
		<h3 class="title" id="exercises">Exercises</h3>

		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.exercises %} 
			<li><a href="files/{{lecture.exercises}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>




		<hr>
		<h3 class="title">Recommended Readings</h3>
		<ul>
			<li>Carol Britton and Jill Doake,<i> A Student Guide to Object-Oriented Development</i>,  Elsevier, 2005</li>
			<li>Martina Seidl et al, <i>UML@Classroom: An Introduction to Object-Oriented Modeling</i>, Springer International Publishing, 2015</li>
			<li>Sarnath Ramnath and Brahma Dathan, <i>Object Oriented Analys and Design</i>, Springer/Universities Press, 2015</li>
			
		</ul>

		<hr>
		<h3 class="title">Acknowledgements</h3>
		
		<p>I came to know late about the book "A Student Guide to Object-Oriented Development by Carol Britton and Jill Doake" while teaching Software Design course, I enhanced my understating of object-oriented software development from it particularly use of simple examples for teaching.
		Lecture notes are also prepared from books listed as recommended readings for this course.</p>
		<p>For lecture presentations some images and animation ideas are taken from lecture presentations available at web and recommended books for this course.</p>
		<p> I am grateful to Dr. Rabeeh Ayaz Abbasi (CS-department, Quaid-i-Azam University) for creating "CS-Concepts-hub" site repository and "Object Oriented Analysis and Design" course repository and pages at github.com<p>
	
		
	</div>
</section>
