---
layout: default
title: Home | Structured Analys and Design
weight: 0
---

<section class="main-container page-head">
	<div class="main">
		<h1 class="head-title">Structured Analysis and Design</h1>
		<p class="head-subtitle"><i>M. Afzal Bhatti</i></p>
	</div>
</section>
<section class="main-container text">
	<div class="main">
		<hr>
		<h3 class="title">Objectives</h3>
		<p>
			The aim of lecture topics of this course is to introduce how to do Analysis and Design  of a sofwtare system using Structured approach.
			During the course students will learn differnt activities being performed and outcome of the activities being presented using differnt visual presenations. 
			Lectures will illustrate how to create Data Flow Diagrams (DFD) and Structure charts through simple examples and case studies.
			
		</p>
		<hr>
		<p class="center">
			[<a href="#lectures">Lectures</a>]&nbsp;&nbsp;[<a href="#notes">Lecture Notes</a>]&nbsp;&nbsp;[<a href="#exercises">Exercises</a>]
		<hr>
		<p>
			BS level course: topical lectures (video Urdu/Englsih), exercises(English) and lecture notes(Englih). Better to first read notes of a lecture and then view lecture.
		</p>
		<hr>
		<p><span style="background-color: #ffd700">Have already taken Structured Analysis and Design course ? </span> </p>
		<p>&nbsp;&nbsp;You may like to refresh concepts of a specific topic of Structured Analysis and Design course:</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Try to solve questions in Exercises of a specific lecture topic, if done easily, Good skip lecture topic.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise read lecture notes, or view lecture of the topic.</p>
		</p>
		<hr>
		<h3 class="title" id="lectures">Lectures</h3>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.video %} 
			<li><a href="{{lecture.video}}" target="youtube">{{lecture.topic}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<hr>
		<h3 class="title" id="notes">Lecture Notes</h3>
		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.notes %} 
			<li><a href="files/{{lecture.notes}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>
		<hr>
		<h3 class="title" id="exercises">Exercises</h3>

		<ol>
			{% for lecture in site.data.all.lectures %}
			{% if lecture.exercises %} 
			<li><a href="files/{{lecture.exercises}}">{{lecture.topic | default: ""}}</a></li>
			{% endif %} 
			{% endfor %}
		</ol>




		<hr>
		<h3 class="title">Recommended Readings</h3>
		<ul>
			<li>P. K. J. Mohapatra,  Software Engineering: A Lifecycle Approach, New Age International (P) Ltd., Publishers, 2010 </li>
			<li>D. Budgen, Software Design, Pearson Education, 2003<li>
		
		</ul>

		<hr>
		<h3 class="title">Acknowledgements</h3>
		
		<p>For lecture presentations some images and animation ideas are taken from lecture presentations available at web and recommended books for this course.</p>
		<p> I am grateful to Dr. Rabeeh Ayaz Abbasi (CS-department, Quaid-i-Azam University) for creating "CS-Concepts-hub" site repository and "Structured Analysis and Design" course repository pages at github.com<p>
	
		
	</div>
</section>
